.wait-container {
  display: grid;
  grid-template-rows: 1fr 1fr;
  height: 100%;
}

.wait-container .headline {
  font-family: 'Press Start 2P';
  text-align: center;
  position: relative;
  line-height: 32px;
  font-size: 24px;
  text-transform: uppercase;
  margin-top: 48px;
}

.waiting {
  position: relative;
  width: 320px;
  height: 320px;
  display: block;
}

.waitMan {
    position: absolute;
    bottom: 10%;
    text-align: center;
    width: 160px;
    left: 20%;
}

.waitManHand {
    position: absolute;
    bottom: 83%;
    text-align: center;
    width: 50px;
    right: 25%;
    animation: moveHand 0.8s infinite alternate;
}

@keyframes moveHand {
  0% {
    transform: translate(0%, 0%) rotate(0deg) ;
  }
  50% {
    transform: translate(50%, 10%) rotate(30deg) ;
  }
  100% {
    transform: translate(0%, 0%) rotate(0deg) ;
  }
}

