.scores-container {
  font-family: 'Press Start 2P';
}

.scores-container h1 {
  color: #FDE634;
  line-height: 32px;
  font-size: 24px;
  margin-bottom: 40px;
  text-align: center;
  animation: blink 1s steps(2, start) infinite;
}

.scores-scoreboard {
  margin-top: 30px;
  font-family: 'Press Start 2P';

}

.scoreboard ul.header {
  list-style: none;
  margin: 0;
  padding: 0;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  margin-bottom: 20px;
}

.scoreboard ul.list {
  list-style: none;
  margin: 0;
  padding: 0;
  display: grid;
  grid-gap: 15px;
  grid-template-rows: 1fr;
}

.scoreboard li {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  align-content: start;
  font-size: 16px;
}

@keyframes blink {
  to {
    visibility: hidden;
  }
}
