.loading-container {
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background: repeating-linear-gradient(to bottom, #000000 0%, #d829b2 50%, #9d7de8 100%);
}

.loading-text {
  font-family: karmatic;
  font-size: 56px;
  position: fixed;
  top: 40%;
  text-align: center;
  width: 100%;
  color: yellow;
}

.loading-press-any {
  font-family: karmatic;
  font-size: 40px;
  position: fixed;
  bottom: 30%;
  text-align: center;
  width: 100%;
  color: yellow;
  animation: blink 1s steps(4, start) infinite;
}

@keyframes blink {
  to {
    visibility: hidden;
  }
}
