.currentscore-container {
  display: grid;
  grid-template-rows: 80px 1fr 80px;
  height: 100%;
}

.currentscore-container h1 {
  margin-top: 10px;
  font-size: 24px;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-family: 'Press Start 2P';
}

.currentscore-scoreboard {
  margin-top: 30px;
  font-family: 'Press Start 2P';

}

.currentscore-scoreboard ul.header {
  list-style: none;
  margin: 0;
  padding: 0;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  margin-bottom: 20px;
}


.currentscore-scoreboard ul.list {
  list-style: none;
  margin: 0;
  padding: 0;
  display: grid;
  grid-gap: 15px;
  grid-template-rows: 1fr;
}

.currentscore-scoreboard ul.list li:first-child {
    animation: blink 1s steps(4, start) infinite;
}


.currentscore-scoreboard li {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  font-size: 16px;
}

.currentscore-continue {
  align-self: end;
  text-align: right;
  font-size: 24px;
  font-family: 'Press Start 2P';
  text-transform: uppercase;
  margin: 8px;
}

@keyframes blink {
  to {
    visibility: hidden;
  }
}