.question-container {
  background: #A32E31;
  font-family: 'Press Start 2P';
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
}

.question-timer {
  background: #FDE634;
  font-size: 14px;
  padding: 10px;
  color: #000;
  text-shadow: none;
  display: flex;
  align-items: center;
  animation: moveDown 1s 1;
}

.question-timer svg {
  width: 18px;
  height: 18px;
}

.question-timer span {
  margin-left: 10px;

}

.question-text {
  color: #FDE634;
  font-size: 16px;
  line-height: 24px;
  text-transform: uppercase;
}

.answer-container {
  display: grid;
  grid-template-columns: 50% 50%;
}

.answer {
  line-height: 18px;
  text-align: center;
  padding: 30px 10px;
  font-size: 14px;
  margin: 4px;
  border: 2px solid #FDE634;
  position: relative;
}

.answer:active {
  background: #FDE634;
  color: #000;
  text-shadow: 1px 2px #A52D2E;
}

.answer-container-number {
  display: none;
}

@keyframes moveDown {
  0% {
    transform: translate(0px, -50px);
  }
  100% {
    transform: translate(0px, 0px);
  }
}

/* .answer-container {
  font-size: 20px;
  padding: 40px 25px;
  border-bottom: 1px solid grey;
}

.answer-container-number {
  padding-right: 40px;
}

.question-container .answer-container:last-of-type {
  border-bottom: 0;
} */
