.question-container {
  background: #A32E31;
  font-family: 'Press Start 2P';
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
}

figure {
  position: fixed;
  right: 0;
  bottom: 0;
  min-width: 100%;
  min-height: 100%;
  height: 100%;
  margin: auto;
  z-index: 0;
  margin: 0;
  background: #A32E31;
}
figure video {
  height: 100%;
}

.question-timer {
  background: #FDE634;
  font-size: 14px;
  padding: 10px;
  color: #000;
  text-shadow: none;
  display: flex;
  align-items: center;
  animation: moveDown 1s 1;
  z-index: 9999;
}

.question-timer img {
  width: 18px;
  height: 18px;
}

.TimeRunningOut .question-timer img.spin {
  animation: spin 0.5s infinite;
  transform: rotate(0deg);
}

.question-timer span {
  margin-left: 10px;
}


.TimeRunningOut .question-timer span {
  animation: scaleUpDown .4s infinite;
}

.question-text {
    z-index: 9999;
  color: #FDE634;
  font-size: 16px;
  line-height: 24px;
  padding: 10px;
  text-transform: uppercase;
}

.answer-container {
  display: grid;
  grid-template-columns: 50% 50%;
}

.answer {
  line-height: 18px;
  text-align: center;
  padding: 30px 10px;
  font-size: 14px;
  margin: 4px;
  color: #FDE634;
  border: 2px solid #FDE634;
  position: relative;
  -webkit-touch-callout: none; /* iOS Safari */
   -webkit-user-select: none; /* Safari */
    -khtml-user-select: none; /* Konqueror HTML */
      -moz-user-select: none; /* Firefox */
       -ms-user-select: none; /* Internet Explorer/Edge */
           user-select: none; /* Non-prefixed version, currently
                                 supported by Chrome and Opera */
}

.TimeRunningOut .answer {
  animation: borderFlash 0.1s infinite;
}

.answer.selected,
.answer:active,
.answer:hover {
  background: #FDE634;
  color: #000;
  text-shadow: 1px 2px #A52D2E;
}

.answer-container-number {
  display: none;
}

@keyframes moveDown {
  0% {
    transform: translate(0px, -50px);
  }
  100% {
    transform: translate(0px, 0px);
  }
}

@keyframes borderFlash {
  0% {
    border: 2px solid #A32E31;
  }
  100% {
    border: 2px solid #FDE634;
  }
}

@keyframes scaleUpDown {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(1.1);
  }
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

/* .answer-container {
  font-size: 20px;
  padding: 40px 25px;
  border-bottom: 1px solid grey;
}

.answer-container-number {
  padding-right: 40px;
}

.question-container .answer-container:last-of-type {
  border-bottom: 0;
} */
