* {
  box-sizing: border-box;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

@font-face {
  font-family: karmatic;
  src: url("./assets/ka1.ttf") format('truetype');
}

body {
  margin: 0;
  background: #A32E31;
}

html, body {
  height: 100%;
}

.App {
  color: #FDE634;
  background: #A32E31;
  text-shadow: 1px 2px #000;
  padding: 10px;
}

.App.TimeRunningOut {
  animation: flash 0.1s infinite;
}

@keyframes flash {
  0% {
    background: #A32E31;
    color: #FDE634;
  }
  100% {
    background: #FDE634;
    color: #A32E31;
  }
}

#root, .App 
        { height: 100% !important; }